.clock1 {
	color: white;
	background-color: black;
	height: 350px;
	text-align:center;
	font-size: 90px;
	padding-top: 175px;
	margin: 25px;
}

.clock2 {
	color: white;
	height: 350px;
	text-align:center;
	font-size: 90px;
	padding-top: 175px;
	margin: 25px;
}